#schedules-services {
    .options {
        flex-direction: column;
        margin-top: var(--space);
        label {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            margin-bottom: var(--space);
            .square {
                width: 24px;
                height: 24px;
                border: var(--gray-10) 2px solid;
                justify-content: center;
                align-items: center;
                > div {
                    width: 14px;
                    height: 14px;
                    background-color: var(--gray);
                    opacity: 0;
                    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }
            &:hover {
                .square {
                    border: var(--gray-8) 2px solid;
                    > div {
                        opacity: .2;
                    }
                }
            }
            input {
                display: none;
                &:checked + .square {
                    > div {
                        opacity: 1;
                        background-color: var(--blue);
                    }
                }
            }
            .content {
                flex-direction: column;
                padding-left: 10px;
                font-size: 16px;
                color: var(--dark-0);
                line-height: 24px;
                .description {
                    font-size: 14px;
                    color: var(--gray-2);
                }
                .price {
                    font-weight: bold;
                }
            }
        }
    }
    aside {
        width: 100%;
        position: fixed;
        z-index: 2;
        right: 0;
        bottom: 80px;
        height: 50px;
        background-color: var(--gray-12);
        border-bottom: var(--gray-3) 1px solid;
        flex-direction: column;
        transition: all .2s ease-in-out;
        header {
            font-size: 32px;
            color: var(--dark-0);
            height: 130px;
            justify-content: center;
            align-items: center;
            display: none;
        }
        section {
            padding: 0 var(--space);
            display: none;
            flex: 1;
            max-height: calc(100vh - 339px);
            overflow-y: auto;
            table {
                border-collapse: collapse;
                width: 100%;
                border-bottom: var(--gray-3) 1px solid;
                td {
                    padding: var(--space) 0;
                    border-top: var(--gray-3) 1px solid;
                    &.price {
                        text-align: right;
                    }
                }
            }
        }
        footer {
            height: 50px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: var(--space);
            font-size: 18px;
            color: var(--dark-0);
            .total {
                font-weight: bold;
                margin-left: var(--space);
                text-align: right;
            }
            button {
                @include button;
                min-width: 50px;
                width: 50px;
                transition: all .5s ease-out;
                svg {
                    transform: rotate(0deg);
                }
            }
        }
        &.open {
            height: calc(100vh - 118px);
            header, section {
                display: flex;
            }
            footer {
                button {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #schedules-services {
        aside, aside.open {
            width: 375px;
            height: calc(100vh - 118px);
            bottom: 0;
            z-index: 4;
            header, section {
                display: flex;
            }
            header {
                height: 160px;
            }
            footer {
                height: 80px;
                > div {
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 22px;
                    .total {
                        font-size: 29px;
                    }
                }
                button {
                    display: none;
                }
            }
        }
    }
}